# editor files
.vscode

# rust files
.env
.jwtsecret
Cargo.lock
configs.local.toml
target

# svelte files
frontend/dist/

# npm files
node_modules
package-lock.json

# sqlx files
.sqlx

# db files
db.sqlite*

# misc
.DS_Store
