# editor files
.vscode/*

# rust files
Cargo.lock
target

# svelte files
front_end/node_modules
front_end/dist/
front_end/package-lock.json

# sqlx files
.env
.sqlx/*

# app files
db.sqlite
config/local.toml

