# editor config folder
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
!.vscode/tasks.json

# rust build folder
target/

# svelte build config folder
frontend/dist/

# npm folder
node_modules/

# db files
data/db.sqlite*

# local config and secret files
*local*
*secret*

# misc
tmp/
.DS_Store
.env

